*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    background-color: rgb(53, 58, 64);
}

.logo{
    text-decoration: none;
}



.portada{
    width: 100%;
    height: 85vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../imagenes/ba1.jpg");
    background-size: cover;
}
.portada__div{
    width: 38%;
    margin-bottom: 10%;
    margin-right: 5%;
}

.button1{
    padding: 5px;
    margin-right: 5px;
    border: solid 0.5px white;
    border-radius: 5px;
}

.button2{
    padding: 5px;
    margin-left: 5px;
    background-color: #29A744;
    border:none;
    border-radius: 5px;
}

.card{
    width: 300px;
    height: 550px;
    margin: 10px;
}

.card__button1{
    padding:0px 3px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
}
.card__button2{
    padding:0px 3px;
    background-color: rgb(22, 161, 184);
    border: none;
    border-radius: 3px;
    font-weight: 700;
}
.card__button__ada1{
    padding:0px 3px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
}
.card__button__ada2{
    padding:0px 3px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
}

.backgroudCard{
    background-color: #333A40;
    border-left: solid 1px white;
}

.span{
    border-bottom:1px dotted #9999CC;
}

.form{
    width: 70%;
}
.form__div{
    width: 100%;
    margin-bottom: 15px;
}
.input{
    width: 48%;
    height: 40px;
    border: solid 0.5px rgba(128, 128, 128, 0.322);
    border-radius: 5px;
}
.textarea{
    width: 100%;
    border: solid 0.5px rgba(128, 128, 128, 0.322);
    border-radius: 5px;
}
.buttonEviar{
    width: 100%;
    background-color: #96C93E;
    padding: 5px 0px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #1C3F53;
}
.a{
    text-decoration: none;
}